# virtuelle Umgebungen
.venv/
.venv_taric/

# Python Cache
__pycache__/
*.pyc

# macOS
.DS_Store

# API-Key / Secrets
API_GEMINI.txt

# lokale Datenbanken
*.db

# lokale Bilddaten
bilder/
bilder_uploads/

# VS Code Workspace (optional)
.vscode/
